{% extends "base.html.twig" %}

{% block body %}
	<div style="
				background-image:url('{{ asset('photos/' ~ hotel.photo) }}');
				background-size: cover;
				background-position-y: center;
				width: 100%;
				height: 400px;
				box-shadow: 0 0 15px;
			">
		<h1 class="text-white pl-2" style="text-shadow: 3px 3px 1px black;">{{ hotel.name }}</h1>
	</div>
	<div class="col-12">
		<div class="rounded flex-md-row px-5 shadow-sm mb-5 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
				<div>
					<strong class="d-inline-block mb-2">{{ hotel.city }}</strong>
					-
					<strong class="d-inline-block mb-2">{{ hotel.country }}</strong>
					-
					<p class="d-inline-block text-mutted">{{ hotel.address }}</p>
				</div>
			</div>
			<div class="row my-2 text-center">
				<div class="col-md-4">
					<h4>Description</h4>
					{{ hotel.description }}
				</div>
				<div class="col-md-4">
					<h4>Informations</h4>
					{{ hotel.informations }}
				</div>
				<div class="col-md-4">
					<h4>Characteristics</h4>
					{{ hotel.characteristics }}
				</div>
			</div>
			{% if reviews %}
				<div class="text-mutted text-center">
					<h4>Reviews :</h4>
					{% for review in reviews %}
						<div class="col-4 border rounded">
							<strong>Rating :
								{{ review.rating }}/10</strong><br>
							<em>{{ review.user }}</em>
							<p>&laquo;
								{{ review.comment }}
								&raquo;</p>
						</div>
					{% endfor %}
				</div>
			{% endif %}
			<div class="mt-5">
				<h4 class="mb-3">Reserve :</h4>
					{{ form(booking_form) }}
				</div>
				<img src="{{asset('style/info.png')}}" width="15" alt=""><small class="ml-2 text-info">If fields are red it's mean this booking is unavailable</small>
			</div>
		</div>
	</div>
{% endblock %}

{% block outofContaier %}
	<div class="col-8 mx-auto mb-3" id="form-review">
		<h4>Add review</h4>
			{% if app.user %}
				{{ form(review_form) }}
			{% else %}
				<a class="btn btn-info" href="{{ path('app_login') }}">Se connecter</a>
			{% endif %}
		</div>
	</div>
	{% endblock %}


{% block js %}
	<script>

	// CONSTRUCTION DU TABLEAU DE RESERVATIONS
	var dataBookings = {{dataBookings|json_encode()|raw}}
	var data = []
	for (var i = 0; i < dataBookings.dateA.length; i++) {
		var dataA = new Date(dataBookings.dateA[i])
		dataA.setHours(0);
		dataA = dataA.getTime()
		var dataD = new Date(dataBookings.dateD[i])
		dataD.setHours(0);
		dataD = dataD.getTime()
		var dataType = dataBookings.type[i]
		data.push(dataA + dataType + dataD)
	}


	// FONCTION APPELER DANS LE FORMULAIRE
	function verif(element){
		var dateFormA = '';
		var dateFormD = '';
		var type = '';

		// RECUPERATION DES VALEURS SELECTIONNEES DANS LE FORMULAIRE
		var selectA = document.querySelectorAll('#booking_form_arrivalAt select')
		selectA.forEach(e => {
			dateFormA += e.value + ', '
		});
		var commaA = dateFormA.lastIndexOf(',');
		dateFormA = new Date(dateFormA.substr(0, commaA));

		var selectD = document.querySelectorAll('#booking_form_departureAt select')
		selectD.forEach(e => {
			dateFormD += e.value + ', '
		});
		var commaD = dateFormD.lastIndexOf(',')
		dateFormD = new Date(dateFormD.substr(0, commaD));

		type = document.querySelector('#booking_form_bedroomType')
		type = type.value
		switch(type) {
			case '1':
				type = "Single Room";
				break;
			case '2':
				type = "Double Room";
				break;
			case '3':
				type = "Triple Room";
				break;
			case '4':
				type = "Quadruple Room";
				break;
			case '5':
				type = "Superior Double Room";
				break;
			case '6':
				type = "Deluxe Double Room";
				break;
		};
		var dataForm = dateFormA.getTime() + type + dateFormD.getTime();

		// AJOUT DES RETOUR VISUELS 
		var p = document.createElement('p')
		p.classList.add('text-danger', 'form-error-info')

		if (data.includes(dataForm)){
			$('#booking_form_bedroomType').addClass("is-invalid")
			$('#booking_form_arrivalAt select').addClass("is-invalid")
			$('#booking_form_departureAt select').addClass("is-invalid")
			if(document.querySelector('.form-error-info')){
				document.querySelector('.form-error-info').remove()
			}
			p.innerHTML = 'There is no more availability for this type of room on these dates'
			document.querySelector('#booking_form').appendChild(p)
		}
		if (dateFormD < dateFormA){
			$('#booking_form_bedroomType').addClass("is-invalid")
			$('#booking_form_arrivalAt select').addClass("is-invalid")
			$('#booking_form_departureAt select').addClass("is-invalid")
			if(document.querySelector('.form-error-info')){
				document.querySelector('.form-error-info').remove()
			}
			p.innerHTML = 'The departure date can\'t be less than arrival date'
			document.querySelector('#booking_form_departureAt').appendChild(p)
		}
		if (data.includes(dataForm) === false && dateFormD >= dateFormA){
			$('#booking_form_bedroomType').removeClass("is-invalid")
			$('#booking_form_arrivalAt select').removeClass("is-invalid")
			$('#booking_form_departureAt select').removeClass("is-invalid")
			if(document.querySelector('.form-error-info')){
				document.querySelector('.form-error-info').remove()
			}
		}
	};

	
	</script>
{% endblock %}
