{% extends "base.html.twig" %}

{% block body %}
	<div style="
													background-image:url('{{ asset('photos/' ~ hotel.photo) }}');
													background-size: cover;
												    background-position-y: center;
												    width: 100%;
												    height: 400px;
													box-shadow: 0 0 15px;
												">
		<h1 class="text-white pl-2" style="text-shadow: 3px 3px 1px black;">{{ hotel.name }}</h1>
	</div>
	<div class="col-12">
		<div class="rounded flex-md-row px-5 shadow-sm mb-5 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
				<div>
					<strong class="d-inline-block mb-2">{{ hotel.city }}</strong>
					-
					<strong class="d-inline-block mb-2">{{ hotel.country }}</strong>
					-
					<p class="d-inline-block text-mutted">{{ hotel.address }}</p>
				</div>
			</div>
			<div class="row my-2 text-center">
				<div class="col-md-4">
					<h4>Description</h4>
					{{ hotel.description }}
				</div>
				<div class="col-md-4">
					<h4>Informations</h4>
					{{ hotel.informations }}
				</div>
				<div class="col-md-4">
					<h4>Characteristics</h4>
					{{ hotel.characteristics }}
				</div>
			</div>
			{% if reviews %}
				<div class="text-mutted text-center">
					<h4>Reviews :</h4>
					{% for review in reviews %}
						<div class="col-4 border rounded">
							<strong>Rating :
								{{ review.rating }}/10</strong><br>
							<em>{{ review.user }}</em>
							<p>&laquo;
								{{ review.comment }}
								&raquo;</p>
						</div>
					{% endfor %}
				</div>
			{% endif %}
			<div class="mt-5">
				<h4 class="mb-3">Reserve :</h4>
					{{ form(booking_form) }}
				</div>
				<img src="{{asset('style/info.png')}}" width="15" alt=""><small class="ml-2 text-info">If fields are red it's mean this booking is unavailable</small>
			</div>
		</div>
	</div>
{% endblock %}

{% block outofContaier %}
	<div class="col-8 mx-auto mb-3" id="form-review">
		<h4>Add review</h4>
			{% if app.user %}
				{{ form(review_form) }}
			{% else %}
				<a class="btn btn-info" href="{{ path('app_login') }}">Se connecter</a>
			{% endif %}
		</div>
	</div>
	{% endblock %}


{% block js %}
	<script>
	{# function verif(element){
		var dateA = '';
		var dateD = '';
		var type = '';
		var select = document.querySelectorAll('#booking_form_arrivalAt select')
		select.forEach(element => {
			if (element.value.length == 1){
				dateA += 0 + element.value + '-'
			} else {
				dateA += element.value + '-'
			}
			dateA = dateA.substr(0, 10)
		});
		var select = document.querySelectorAll('#booking_form_departureAt select')
		select.forEach(element => {
			if (element.value.length == 1){
				dateD += 0 + element.value + '-'
			} else {
				dateD += element.value + '-'
			}
			dateD = dateD.substr(0, 10)
		});

		if (element) {
			type = element;
		} else {
			type = document.querySelector('#booking_form_bedroomType')
			type = type.value
		}
		switch(type) {
			case '1':
				type = "Single Room";
				break;
			case '2':
				type = "Double Room";
				break;
			case '3':
				type = "Triple Room";
				break;
			case '4':
				type = "Quadruple Room";
				break;
			case '5':
				type = "Superior Double Room";
				break;
			case '6':
				type = "Deluxe Double Room";
				break;
		};

		var dataForm = dateA + dateD + type;
		console.log(dataForm)
		var dataB = {{dataB|json_encode()|raw}}
		for (var i = 0; i < dataB.dateA.length; i++) {
			data = dataB.dateA[i] + dataB.dateD[i] + dataB.type[i];
			if (data == dataForm){
				$('#booking_form_bedroomType').addClass("is-invalid")
				$('#booking_form_arrivalAt select').addClass("is-invalid")
			}
			if (data != dataForm){
				$('#booking_form_bedroomType').removeClass("is-invalid")
				$('#booking_form_arrivalAt select').removeClass("is-invalid")
			}
		}
	}; #}

	function verif(element){
		var dateFormA = '';
		var dateFormD = '';
		var type = '';
		var select = document.querySelectorAll('#booking_form_arrivalAt select')
		select.forEach(element => {
			dateFormA += element.value + ', '
		});
		var comma = dateFormA.lastIndexOf(',');
		dateFormA = new Date(dateFormA.substr(0, comma));

		var select = document.querySelectorAll('#booking_form_departureAt select')
		select.forEach(element => {
			dateFormD += element.value + ', '
		});
		var comma = dateFormD.lastIndexOf(',')
		dateFormD = new Date(dateFormD.substr(0, comma));

		if (element) {
			type = element;
		} else {
			type = document.querySelector('#booking_form_bedroomType')
			type = type.value
		}
		switch(type) {
			case '1':
				type = "Single Room";
				break;
			case '2':
				type = "Double Room";
				break;
			case '3':
				type = "Triple Room";
				break;
			case '4':
				type = "Quadruple Room";
				break;
			case '5':
				type = "Superior Double Room";
				break;
			case '6':
				type = "Deluxe Double Room";
				break;
		};

		var dataForm = dateFormA + dateFormD + type;
		var dataBookings = {{dataBookings|json_encode()|raw}}
		for (var i = 0; i < dataBookings.dateA.length; i++) {
			var dataA = new Date(dataBookings.dateA[i])
			dataA = dataA.setHours(0);
			var dataD = new Date(dataBookings.dateD[i])
			dataD = dataD.setHours(0);
			var dataType = dataBookings.type[i]
			var data = dataD + dataD + dataType;
			if (data == dataForm){
				$('#booking_form_bedroomType').addClass("is-invalid")
				$('#booking_form_arrivalAt select').addClass("is-invalid")
			}
			if (dateFormA < dataD & type == dataType){
				$('#booking_form_bedroomType').addClass("is-invalid")
				$('#booking_form_arrivalAt select').addClass("is-invalid")
			}
			if (data != dataForm){
				$('#booking_form_bedroomType').removeClass("is-invalid")
				$('#booking_form_arrivalAt select').removeClass("is-invalid")
			}
		}
	};

	
	</script>
{% endblock %}
