<div class="col-12">
	<div class="justify-content-between col-10 mx-auto mb-2">
		<h4>{{currentMonth}}</h4>
	</div>
	<table class="table table-bordered col-10 mx-auto mb-5">
		{% for i in 0..weeks - 1 %}
			<tr>
				{% for k, day in days %}
					{% set date = start | date_modify("+" ~ (k + i *7) ~ "days") %}
					<td class="text-center">
						{% if i == 0 %}
							<div>{{day}}
								<br>
								{{date | date('d')}}</div>
						{% else %}
							<div>{{date | date('d')}}</div>
							<ul style="padding-left:10px">
							{% endif %}
							{% for key, booking in bookings %}
								{% for book in booking %}
									{% if date >= date(key) and date <= date(book.departureAt) | date_modify('-1 day') %}
										{% for bedroom in bedrooms %}
											{% if book.bedroomType == bedroom.type %}
												<li style="width:max-content;list-style-type:none">
													<small class='text-mutted text-danger'>{{bedroom.type}}</small>
												</li>
											{% endif %}
										{% endfor %}
									{% endif %}
								{% endfor %}
							{% endfor %}
						</ul>
					</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</table>
	<input type="hidden" month="{{ dataPrevMonth.m }}" year="{{ dataPrevMonth.y }}">
	<input type="hidden" month="{{ dataNextMonth.m }}" year="{{ dataNextMonth.y }}">
</div>

