{% extends "base.html.twig" %}

{% block body %}

    <div class="row justify-content-center">
    {% for hotel in hotels %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="{{ asset('photos/' ~ hotel.photo) }}" class="card-img-top" height="200" alt="...">
                <div class="card-body">
                    <h1>{{ hotel.name }}</h1>
                    <h5>{{ hotel.city }} - {{ hotel.country }}</h5>
                    <p class="card-text">{{ hotel.description }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a class="btn btn-sm btn-outline-primary text-decoration-none" href="{{path('booking', {slug: hotel.slug, month:date('m') | date('m'), year:date('Y') | date('Y')} ) }}">Reserver</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    <div class="d-flex justify-content-arround">
    {% if previous %}
        <a href="{{ path('home', { offset: previous }) }}">Previous</a>
    {% endif %}
    {% if next < hotels|length %}
        <a href="{{ path('home', { offset: next }) }}">Next</a>
    {% endif %}
    </div>
    
{% endblock %}