{% extends "base.html.twig" %}

{% block dropdownMenu %}

{{ form_start(search_form) }}
<div class="d-flex pt-2">
{{ form_row(search_form.country) }}
{{ form_row(search_form.submit) }}
</div>
{{ form_end(search_form) }}

{% endblock %}
{% block body %}

    <div class="row justify-content-center">
    {% for hotel in hotels %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="{{ asset('photos/' ~ hotel.photo) }}" class="card-img-top" height="200" alt="...">
                <div class="card-body">
                    <h1>{{ hotel.name }}</h1>
                    <h5>{{ hotel.city }} - {{ hotel.country }}</h5>
                    <p class="card-text">{{ hotel.description }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a class="btn btn-sm btn-outline-primary text-decoration-none" href="{{path('booking', {slug: hotel.slug} ) }}">Reserver</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    <div class="pagination">
    {% if app.request.get("page", 1) > 1 %}
        <a href="{{ path("home", { page: app.request.get("page", 1) - 1}) }}" data-role="previous" class="page-item"><p class="page-link">Precedent</p></a>
    {% endif %}
        {% set pagination = range(
            max(1, app.request.get("page", 1) -3),
            min(total, app.request.get("page", 1) +3)
        ) %}
        {% for pagi in pagination %}
            <a href="{{ path("home", { page: pagi}) }}" class="{{ pagi == app.request.get("page", 1) ? "active" : "" }} page-item"><p class="page-link">{{ pagi }}</p></a>
        {% endfor %}
    {% if app.request.get("page", 1) < total %}
        <a href="{{ path("home", { page: app.request.get("page", 1) + 1}) }}" data-role="next" class="page-item"><p class="page-link">Suivant</p></a>
    {% endif %}
    </div>
    
{% endblock %}